main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }

nav {
    
}

.brand-logo {
display: inline-block;
height:fit-content;
}





























































































footer {
    text-align: center;
}