main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }

nav {
    
}



























































































footer {
    text-align: center;
}