body {
  margin: 0% 2%;
  background: #D0D3D4;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }

  .brand-logo-header {
    display: flex;
    justify-content: center;
  }

.brand-logo {
  display: inline-block;
  margin: 2px 0px 0px 10px;
}

#about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 200%;
  margin-left: 500px;
  margin-right: 500px;
}

.indent {
  display: block;
  margin-left: 20px;
  display: inline-block;
}

.recipe-finder-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.recipe-finder-header {
  font-family: 'Delicious Handrawn', cursive;
}

.input-location {
  font-family: 'Delicious Handrawn', cursive;
}

#recipe-api {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#weather-side {
  flex-basis: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 10px solid black;
  margin-bottom: 20px;
}

#food-side {
  flex-basis: 60%;
  padding: 20px;
  box-sizing: border-box;
}

#instructions-holder {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

#your-search {
  border: 4px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.search-box {
  max-width: 500px;
}

#weather-display-header {
  color: black;
}

.logo-image-header {
  width: 50%;
  height: auto;
}

#instructId {
  font-size: 120%
}

#recipeId {
  font-size: 120%
}
























































































footer {
    text-align: center;
}

.social-media {
  display: inline-flex;
  justify-content: center;
  width: 16px;
  height: 16px;
}

#email {
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
}

@media screen and (min-width: 481px) and (max-width: 1600px){
  body {
      margin: auto;
    }
  #about-us {
      margin: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
  .recipe-finder-header {
      color: green;
  }

  #instructions-holder {
    font-size: 150%;
  }
  #foodImg {
    margin: auto;
    border: 5px solid blue;
  }
}